*/*/target/**
/w01/console-app/target/
/w02/java_basics/nbproject/
/w02/java_basics/target/
/w02/java_basics_cheat/nbproject/
/w02/java_basics_cheat/target/
/w03/oop_basics/nbproject/
/w03/oop_basics/target/
/w05/java_essentials/target/
/w05/java_essentials/nbproject/
/assignment2/target/
/w06/java-enhancements/nbproject/
/w06/java-enhancements/target/
